<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superhero news</title>
    
</head>
<body>
    {% extends 'superhero_theme.html'%}
    <header>
        <div class="row">
            <div class="col-6">
                <h1>Superhero Gallery</h1>
            </div>
        </div>
    </header>
    {% block content %}
    <main>
        <p><a href="/hero/">List of Heroes</a></p>
        <p><a href="/admin/">Admin Views for Superhero</a></p>
    </main>
    {% endblock content %}
</body>
</html>