<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/super.css">
</head>
<body>
    <h1>Superhero News</h1>
    
    <ul>
        {% for hero in object_list %}
          <li>{{ hero.name }}</li>
        {% endfor %}
      </ul>

    <main>
        <p><a href="/hero/">List of Heros</a> </p>
        <p><a href="/admin/">Admin Views for Superhero</a></p>
    </main>
</body>
</html>