<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        {% extends 'superhero_theme.html'%}
        {% block content %}
        <div class="container-fluid m-5">
            <h1 class="text-primary text-center">List of Heros</h1>

            <table class="table table-hover">
                <tr>
                    <th>Hero</th>
                    <th>Image</th>
                    <th>Edit</th>
                </tr>


            {% for hero in object_list %}
            <tr>
                <td><a href="{{ hero.pk }}">{{hero.name}}</a></td>
                <td><img src="{{hero.image}}" alt="{{hero.name}]" width="200"></td>
                
                <td><a href="{{ hero.pk }}/">Edit</a></td>
                <td><a href="{{ hero.pk }}/delete">Delete</a></td>
        
            </tr>
            {% endfor %}
            </table>

            <p>
                 <a href="/hero/add" class="btn btn-success m-5">Add New Hero</a>
            </p>
            
        {% endblock content %}
    </div>
        
    </div>

</body>

</html>